h1 {
    text-align: center;
    font-family: 'Bentham', serif;
    color: brown;
}

h2 {

    text-align: center;
    font-family: 'Bentham', serif;
    color: brown;

}

h3 {
    text-align: center;
    font-family: 'Bentham', serif;
    color: brown;

}

p {
    font-family: 'Bentham', serif;
    color: brown;
    font-size: 120%;
    text-indent: 5%;
}

html {

margin-left: 15px;
margin-right: 15px;;
}