h1 {
    text-align: center;
    font-family: 'Bentham', serif;
    color: brown;
}

h2 {

    text-align: center;
    font-family: 'Bentham', serif;
    color: brown;

}

h3 {
    text-align: center;
    font-family: 'Bentham', serif;
    color: brown;

}

p {
    font-family: 'Bentham', serif;
    color: brown;
    font-size: 120%;
    text-indent: 5%;
    max-width: 100%;
}

html {

margin-left: 15px;
margin-right: 15px;;
}

img {
    max-width: 90%;
    align-content: center;
}

button {
    background-color:rgb(241, 192, 192);
    border-radius: none;
    color: rgb(247, 247, 247);
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    border-radius: none;
    font-family: 'Bentham', serif;
    font-style: italic;
  
    
    
  }
  
  button:hover {
    background-color: rgb(16, 124, 22);
  }
  