
html{

    background-color: #faf9f3;
    font-family: 'Bentham', serif;
    font-style: italic;
}

.container {
    margin-top: 70px;
   display: block;
   width: 75vw;
   justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;

}


.right-section {
 
  width:100%;

}



.left-section {
 
  width:42%;
  float: left;
}


.small-container {
margin-top: 70px;
display:flex;
width: 70vw;
height: 25vmin;
justify-content: center;
padding-left: 10vw;
}




.site-tite {
    font-size: 20px;
    
}




a:link {
    color: black;
  }
  

  a:visited {
    color: rgb(3, 20, 3);
  }
  
 
  a:hover {
    color: rgb(104, 11, 11);
  }
  

  a:active {
    color: black;
  }





img {
    width: 45vmin;
    border: 5px solid #555;
    border-color: black;
    border-radius: 360px;
  
}